<!--
  Lewis Scott
  5/1/20
  filename https://lscott.greenriverdev.com/328/dating/views/interests.html
  accessed through https://lscott.greenriverdev.com/328/dating/profile
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interests</title>
    <include href="includes/header.html"></include>
</head>
<body>

<include href="includes/navBar.html"></include>

<div class="container card rounded">
    <h3>Interests</h3>

    <form class="form-group" id="mainForm" action="#" method="post">

        <label><strong>In-door Interests</strong></label>

        <div class="row">
            <div class="col-3">
                <!-- get indoor interests -->
                <div class="form-group">
                        <div class="form-check">
                            <input name="indoorInts[]" class="form-check-input" type="checkbox" value="tv" id="tv"
                            <check if='{{ isset(@selectedIndoor) }}'>
                                <check if='{{ in_array("tv", @selectedIndoor) }}'>
                                    checked="checked"
                                </check>
                            </check>>
                            <label class="form-check-label" for="tv">tv</label>
                        </div>
                        <div class="form-check">
                            <input name="indoorInts[]" class="form-check-input" type="checkbox" value="puzzles" id="puzzle"
                            <check if='{{ isset(@selectedIndoor) }}'>
                                <check if='{{ in_array("puzzles", @selectedIndoor) }}'>
                                    checked="checked"
                                </check>
                            </check>>
                            <label class="form-check-label" for="puzzle">puzzle</label>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="form-check">
                        <input name="indoorInts[]" class="form-check-input" type="checkbox" value="movies" id="movies"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("movies", @selectedIndoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="movies">movies</label>
                    </div>
                    <div class="form-check">
                        <input name="indoorInts[]" class="form-check-input" type="checkbox" value="reading" id="reading"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("reading", @selectedIndoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="reading">reading</label>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="form-check">
                        <input name="indoorInts[]" class="form-check-input" type="checkbox" value="cooking" id="cooking"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("cooking", @selectedIndoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="cooking">cooking</label>
                    </div>
                    <div class="form-check">
                        <input name="indoorInts[]" class="form-check-input" type="checkbox" value="playing cards" id="cards"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("playing cards", @selectedIndoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="cards">playing cards</label>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="form-check">
                        <input name="indoorInts[]" class="form-check-input" type="checkbox" value="board games" id="boardGames"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("board games", @selectedIndoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="boardGames">board games</label>
                    </div>
                    <div class="form-check">
                        <input name="indoorInts[]" class="form-check-input" type="checkbox" value="video games" id="videoGames"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("video games", @selectedIndoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="videoGames">video games</label>
                    </div>
                </div>
            </div>
            <span class="err">
                <check if='{{ isset(@errors["indoorInts"]) }}'>
                    {{ @errors['indoorInts']}}
                </check>
            </span>
        </div>


        <label><strong>Out-door Interests</strong></label>

        <div class="row">
            <div class="col-3">
                <!-- get outdoor interests -->
                <div class="form-group">
                    <div class="form-check">
                        <input name="outdoorInts[]" class="form-check-input" type="checkbox" value="hiking" id="hiking"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("hiking", @selectedOutdoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="hiking">hiking</label>
                    </div>
                    <div class="form-check">
                        <input name="outdoorInts[]" class="form-check-input" type="checkbox" value="walking" id="walking"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("walking", @selectedOutdoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="walking">walking</label>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="form-check">
                        <input name="outdoorInts[]" class="form-check-input" type="checkbox" value="biking" id="biking"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("biking", @selectedOutdoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="biking">biking</label>
                    </div>
                    <div class="form-check">
                        <input name="outdoorInts[]" class="form-check-input" type="checkbox" value="climbing" id="climbing"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("climbing", @selectedOutdoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="climbing">climbing</label>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="form-check">
                        <input name="outdoorInts[]" class="form-check-input" type="checkbox" value="swimming" id="swimming"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("swimming", @selectedOutdoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="swimming">swimming</label>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <div class="form-check">
                        <input name="outdoorInts[]" class="form-check-input" type="checkbox" value="collecting" id="collecting"
                        <check if='{{ isset(@selectedIndoor) }}'>
                            <check if='{{ in_array("collecting", @selectedOutdoor) }}'>
                                checked="checked"
                            </check>
                        </check>>
                        <label class="form-check-label" for="collecting">collecting</label>
                    </div>
                </div>
            </div>
            <span class="err">
                <check if='{{ isset(@errors["outdoorInts"]) }}'>
                    <check if='{{ !in_array(@selectedOutdoor, @selectedOutdoor) }}'>
                        "Invalid choice(s)"
                    </check>
                </check>
            </span>
        </div>

        <button id="button" type="submit" class="btn-primary float-right">Next ></button>

    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>